body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  nav, footer{
    background-color:lightgray;
    color: black;
    font-size:x-large;
    font-style: italic;
  }  
  .curriculumVitaeImage {
    height: 30%;
    width: 30%;
    height: auto;
  }